{% extends 'base.html.twig' %}

{% block title %}Scan Reports{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Scan Reports</h1>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Scan Reports</h6>
            </div>
            <div class="card-body">
                <p>This page will display a list of all scan reports.</p>
                {# TODO: Implement actual listing of scan reports here #}
            </div>
        </div>
    </div>
{% endblock %}
